.venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
.vscode/
screenshots/
.env
report.json
report-ui.json
reports/*
!reports/.gitkeep
allure-results/*
!allure-results/.gitkeep
allure-report/
htmlcov/
docs/Saved/Detailed Documentation_ QA Automation Framework.md
docs/Saved/QA Automation Project with Python, Selenium, and API Testing.md
